body{
font-family: Arial, Helvetica, sans-serif;
color: white;
background-color: #000;
background-image: url('BackgroundPlace.webp');
}


nav a {
    color: chartreuse;
}

.current{
    color: #000;
}
