body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: brown;
    

}

header {
    width: 70%;
    background-color: blue;
    margin: 30px auto;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3); 
    background-size: cover; 
    background-origin: padding-box; 
    background-clip: border-box; 
    background-image: url(mahal.jpg); 
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: right;
}

header h1 {
    border: 3px solid greenyellow;
}

#wrapper {
    background-color: darkcyan;
    max-width: 900px;
    margin: 0 auto;
    border: thin solid black;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5); 
    padding: 20px;
    height: 400px;
}

nav {
    width: 500px;
    margin: 0 auto;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    padding: 10px 30px;
    background-color: blue;
    color: white;
    margin-right: 10px; 
    border-bottom: thin solid white;
    float: left;
    border: 5px solid yellow;
    border-radius: 50px; 
    
}

figure{
    float:right;
}
img{
    height: 200px;
    float:right;
}

nav a:hover {
    color: blue;
    background-color: white;
}

#first {
    width: 250px;
    border: thin solid black;
    float: left;
}

#first img {
    width: 250px;
    height: 300px;
}

.clear {
    clear: both;
}

.second {
    font-style: italic;
}

.third {
    text-transform: capitalize;
    line-height: 80px;
    text-align: center;
}

footer {
    color: white;
    font-weight: bolder;
    background: url(pic.jpg) right no-repeat;
    text-align: center;
    
}