body{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #000;
    background-image: url('BackgroundPlace.webp');

    }
    
    main.index{
        background-image:  url("indianflag.png");
        background-size: 300px 200px;
        background-repeat: no-repeat;
        background-position: right;
    }
    nav a {
        color: chartreuse;
    }
    
    .current{
        color: #000;
    }


      ul li {
        list-style: none;
        list-style-image: url("bulletpoint.png");
      }