body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: rgb(118, 169, 211);
    width: 300px;
    margin: 30px  auto;
    padding: 50px 30px 100px 3px;
}

header h1 {
    margin: 0;
    border-width: 5px;
    border-color: red;
    border-style: solid;

}

nav{
    background-color: #AAA;
    height: 200px;
    margin: 40px;
}